{{#if message}}
    <div class="alert alert-danger">{{message}}</div>
{{/if}}
<h1>Add Book</h1>
<<<<<<< HEAD
 <form action="/panel/catalog/modify/book/{{req.params.item_id}}" method="get"></form>
=======
<form action="/panel/catalog/add/book" method="post">
   <input type="text" name="itemType" value="Book" readonly><br>
>>>>>>> 6f943d03f6b6653d3d165687b640c2115b023bf6
   <input type="text" name="title" placeholder="Title"><br>
   <input type="text" name="author"placeholder="author"><br>
   <input type="text" name="format"placeholder="Format"><br>
   <input type="text" name="pages"placeholder="Pages"><br>
   <input type="text" name= "publisher"placeholder="Publisher"><br>
   <input type="text" name="language"placeholder="Language"><br>
   <input type="text" name="isbn10"placeholder="ISBN10"><br>
   <input type="text" name="isbn13"placeholder="ISBN13"><br>
   
  <button>Add Book</button>
</form>