{{#if message}}
    <div class="alert alert-danger">{{message}}</div>
{{/if}}
<h1>Add Book</h1>
 <form action="/panel/catalog/modify/book/{{req.params.item_id}}" method="get"></form>
   <input type="text" name="title" placeholder="Title"><br>
   <input type="text" name="author"placeholder="author"><br>
   <input type="text" name="format"placeholder="Format"><br>
   <input type="text" name="pages"placeholder="Pages"><br>
  <input type="text" name="publisher"placeholder="Publisher"><br>
   <input type="text" name="language"placeholder="Language"><br>
   <input type="text" name="isbn10"placeholder="ISBN10"><br>
   <input type="text" name="isbn13"placeholder="ISBN13"><br>
  <button>Add Book</button>
</form>