{{#if message}}
    <div class="alert alert-danger">{{message}}</div>
{{/if}}
<p>
    <a href="/panel/">Home</a>
</p>
<h1>Add Movie</h1>
<form action="/panel/catalog/add" method="post">
<input type="text" name="itemType" value="Movie" readonly><br>
   <input type="text" name="title" placeholder="Title"><br>
   <input type="text" name="director"placeholder="Director"><br>
   <input type="text" name="producers"placeholder="Producers"><br>
   <input type="text" name="actors"placeholder="Actors"><br>
   <input type="text" name="language"placeholder="language"><br>
  <input type="text"  name="subtitles"placeholder="subtitles"><br>
   <input type="text" name="dubbed"placeholder="Dubbed"><br>
   <input type="date" name="releaseDate" value="2017-01-01"><br>
   <input type="text" name="runTime" value="01:20:00"><br>
  <button>Add Movie</button>
</form>
