{{#if isadmin}}
<p>
    <a href="/panel/catalog/add">Add An Item</a>
</p>
{{/if}}
<p>
    <form action="/panel/catalog/search/" method="post">
    <input type="text" name="searchString"> <br>
    <label for="Sort by">Sort By:</label>

    <select name="sortBy">
        <option value="itemid">Item ID</option>
        <option value="title">Title</option>
        
    </select><br>
    <button>Search</button>
    </form>
    
</p>



{{#each items as |item|}}
<table>
    <thead>
    {{#each item}}
        {{#if . }}
            <th>{{@key}}</th>
        {{/if}}
    {{/each}}
    </thead>
    <tbody>
        <tr>
        {{#each item}}
            {{#if . }}
                <td>{{.}}</td>
            {{/if}}    
        {{/each}}

        {{#if isadmin}}
        <td>
            <form action="/panel/catalog/modify/{{item.id}}" method="get">
            <button>Modify</button>
            </form>
        </td>

        <td>
            <form action="/panel/catalog/delete/{{item.id}}" method="post">
            <button>Delete</button>
            </form>
        </td>
        {{/if}}
        </tr>
    </tbody>

</table>
{{/each}}