<h1>Register</h1>
<form action="/register" method="post">
  <input type="text" id="username" placeholder="Username"><br>
  <input type="password" id="password" placeholder="Password"><br>
  <!-- <input type="confirm_password" name="confirm_password" placeholder="Confirm password"><br> -->
  <button>Register</button>
</form>
