{{#if message}}
    <div class="alert alert-danger">{{message}}</div>
{{/if}}
<h1>RegisterAdmin</h1>
<form action="/panel/registerAdmin" method="post">
  <input type="text" name="username" placeholder="Username"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input type="text" name="firstName" placeholder="First Name"><br>
  <input type="text" name="lastName" placeholder="Last Name"><br>
  <input type="text" name="address" placeholder="Address"><br>
  <input type="text" name="email" placeholder="Email"><br>
  <input type="text" name="phone" placeholder="phone"><br>
  <!-- <input type="confirm_password" name="confirm_password" placeholder="Confirm password"><br> -->
  <button>Register</button>
</form>