<table>
    <thead>
        <th>Number</th>
        <th>Email</th>
        <th>Is Admin</th>
    </thead>
    <tbody>
    {{#each users as |user|}}
        <tr>
            <td>{{@index}}</td>
            <td>{{user.email}}</td>
            <td>{{user.isadmin}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
